
.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.cardContainer {
  display: block;
  position: relative;
  margin-right: 5rem;
  margin-left: 5rem;

}


h3 {
  margin-left: 5rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.productItem {
  position: relative;
  height: 30rem;
  border-radius: 1rem;
  z-index: 2;
  padding-bottom: 2rem;
}

.productItem button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 10px;
  border: none;
  background: none;

}


.productItem img {
  height: 20rem;
  width: 100%;
  z-index: -1;
  border-radius: 1rem;
  object-fit: cover;

}



.productImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.btnNext, .btnPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

}
.btnNext {
  right: 0;
  padding-right: 1rem;
}


.btnPrev {
  left: 0;
  padding-left: 1rem;
}

.nolineThrough,
.salePrice,
.lineThrough {
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 0;
}
.salePrice {
  color: red;
}

.lineThrough {
  text-decoration: line-through;
  margin-right: 5px;
}

.addBtn svg {
  font-size: 100px;
  padding: 20px;
}

.addBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 30rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
}

.cardInfo {
  margin-left: 1rem;
  text-align: left;
}

.closingBtn svg {
  color: black;

}

.name {
  font-size: 1rem;
  font-weight: bold;
}

.category {
  font-size: 18px
}




