* {
  font-family: 'Rajdhani', sans-serif;
}
.darkMode {
  background-color: black;
  color: white !important;
  margin: 0 auto;
}

.darkMode a{
  color: white !important;
}
.darkMode u{
  color: white !important;
}

.darkBtn {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 4rem;
  right: 7rem;
  color: white;
  font-size: 20px;

}

.darkBtn:hover {
  transform: scale(1.2);
}
