.averageRating {
  font-size: 34px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.flexNum {

}

.flexStar {
  padding-left: 5px;
}

.recommendPercent {

}

.starBreakdown {
  align-items: left;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.starFilter {
  display: flex;
  flex-direction: row;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.starFilter:hover {
  color:blueviolet;
  cursor: pointer;
}

.bar {
  position: relative;
  float: right;
  height: 7px;
  width: 200px;
  background-color: lightgray;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 5px;
  top: 2px;
}

.button1 {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-size: small;
  font-weight: 900;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: #a4d0ca;
}
.button1:hover {
  color:#000000;
  background-color:#FFFFFF;
  border-color: black;
}