.averageRating {
  font-size: 34px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.flexNum {

}

.flexStar {
  padding-left: 5px;
}

.recommendPercent {

}

.starBreakdown {
  align-items: left;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.starFilter {
  display: flex;
  flex-direction: row;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.starFilter:hover {
  color:blueviolet;
  cursor: pointer;
}

.bar {
  position: relative;
  float: right;
  height: 7px;
  width: 200px;
  background-color: lightgray;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 5px;
  top: 2px;
}