.header {
  width: 100%;
  height: 120px;
  background-color: #a4d0ca;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-size: 80px;
}
.logo{
  margin-left: 30px;
  font-size: 20px;
}
.team {
  margin-right: 30px;

}
.original {
  text-decoration: line-through;
}
.sale {
  color: red;
}
.overContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
}
.banner {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
}
.phrases {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}