.box {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boxCol {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 10px;
}

.author {
  margin-left: auto;
  font-style: italic;
}

.rating {

}

.date {

}

.summary {

}

.body {

}

.photos {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 1px solid;
  margin: 5px;
}
.photos:hover {
  cursor: pointer;
  border-color: lightskyblue;
}

.response {
  background-color: lightgray;
  position: relative;
  width: 300px;
  left: 15px;
  padding: 5px;
}

.helpful {
  padding-bottom: 10px;
  border-bottom: .5px solid #a4d0ca;
}

.helpfulLink {
  color: blue;
  cursor: pointer;
}

.recommend {

}

.modalPhoto {

}


