.thumb {
  border: solid 1px;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.selected {
  border: solid 5px blue;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  object-fit: cover;
}