.characterButtons {
  display: flex;
  flex-direction: column;
}


.modalContainer {
  position: fixed;
  top: 20%;
  bottom: 20%;
  right: 20%;
  left: 20%;
  z-index: 200;
  height: auto;
  width: auto;
  overflow: scroll;
  background-color: lightgray;
  padding: 15px;
  border-radius: 5%;
}

.closeIcon {
  float: right;
}