.sidecontainer{
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 0;
  right: -17px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  pointer-events: auto;
}
.only {
  position: relative;
  height: 900px;
  width: 100%;
  max-height: 900px;
  max-width: 90%;
  overflow-y: hidden;
  overflow-x: hidden;
  object-fit: cover;
}
.bigcontainer{
  position: relative;
  height: 100%;
  width: 100%;
  max-height:600px;
  max-width: 60%;
  overflow-y: hidden;
  overflow-x: hidden;
  object-fit: cover;
}
.onlymain {
  height:900px;
  width:100%;
  object-fit: cover;
  border-radius: 19px;


}
.main {

  height:600px;
  width:100%;
  object-fit: cover;
  border-radius: 20px;


}
.arrow {
  height: 600px;
  width: 100%;
  max-width: 85%;
  position: absolute;
  display: flex;
  left: 12%;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  pointer-events: auto ;
  cursor: zoom-in;
}
.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #a4d0ca;
  cursor: initial;
}